@model List<Clip>
@{
}

<h1>Valorant Clips</h1>

<div class="mt-4">
    <div class="row">
        <div class="col-sm-6 col-lg-4">
            @foreach (var clip in Model)
            {
                <div class="card">
                    <a asp-action="Detail" asp-route-id="@clip.Id">
                        <img class='card-img-top'
                             src='https://i3.ytimg.com/vi/@clip.Url/maxresdefault.jpg'
                             alt="@clip.Url" />
                    </a>
                    <p class="card-text">TimeCreated : @clip.TimeCreated</p>
                    <div class="card-body">
                        <h5>
                            <a asp-action="Detail" asp-route-id="@clip.Id"> @clip.Name</a>

                        </h5>

                        <p class="card-text">Author: @clip.AuthorUsername</p>
                        <p class="card-text">
                            Description : @clip.Description
                        </p>

                        <a class="btn btn-info" asp-action="Detail" asp-route-Id="@clip.Id"> Watch Details</a>

                    </div>

                </div>
            }

        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}